@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
  .auth-nav-ling {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;
  }
  .baner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/gallery/people-office-tab@1x.jpg);
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--title-text-color);
    text-align: center;
    padding-bottom: 112px;
    padding-top: 112px;
  }
  .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mod-menu {
    display: none;
  }
  .svg-menu-open {
    display: none;
  }
  .mob-open-tape {
    display: none;
  }
  .conteiner {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits-list {
    text-align: start;
  }
  .benefits-item {
    max-width: 356px;
  }

  .customers-list {
    display: flex;
    width: 552px;
    height: 248px;
    gap: 24px;
    row-gap: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 108px;
  }
  .footer-form {
    width: 453px;
    height: 40px;
    display: block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .divi {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .team-flex {
    display: flex;
    flex-wrap: wrap;

    gap: 24px;
    width: 552px;
    row-gap: 64px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/gallery/people-office-tab@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .benefits-svg {
    display: none;
  }
  .pages-nav,
  .contacs-list {
    display: none;
  }

  .reasons {
    display: none;
  }

  .conteiner {
    max-width: 428px;

    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 72px;
  }

  .footer-mail-user {
    width: 398px;
  }
  .customers-item {
    width: 190px;
    height: 88px;
  }
  .customers-stail {
    width: 190px;
    height: 88px;
  }
  .buttop-mail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }
  .footer-mail-text {
    text-align: center;
  }
  .footer-form {
    width: 398px;
  }
  .footer-hero {
    margin-left: 64px;
    margin-right: 64px;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .media {
    margin-left: 94px;
    margin-right: 94px;
  }
  .media-titel {
    text-align: center;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
  }
  .team {
    background-color: var(--accent-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
