/*index.html*/
:root {
  --praimary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #f4f4fd;
  --logo-text-color: #4d5ae5;
  --body-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --color-grey: #2e2f42;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;

  --border-color: #8e8f99;
  --time-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--body-color);
  font-family: Roboto, sans-serif;
  color: var(--praimary-text-color);
}
.conteiner {
  width: 1158px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*---------------------- Navigation -------------------*/
.header-flex {
  display: flex;
  align-items: center;
}

.header-titel {
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-nav {
}
.staile {
  font-style: normal;
}
.site-nav-ling {
  position: relative;
  color: var(--title-text-color);
  height: 24px;
  transition: var(--time-transform);
}
.active-page {
  color: var(--color-ocean);
}

.active-page::after {
  content: "";
  position: absolute;

  left: 0;
  width: 100%;
  height: 4px;
  top: 44px;
  background: var(--color-ocean);
}
.auth-nav-ling {
  color: var(--praimary-text-color);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  transition: var(--time-transform);
}

.pages-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}

.site-nav-ling:is(:hover, :focus) {
  color: var(--color-ocean);
}
.auth-nav-ling:hover,
.auth-nav-ling:focus {
  color: var(--color-ocean);
}
.contacs {
  font-style: normal;
  margin-left: auto;
}

.contacs-list {
  gap: 40px;
}
.color {
  display: inline-block;
  color: var(--logo-text-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-titel {
  color: var(--title-text-color);
}
/*--------------------------- Baner -----------------------*/
.baner {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/gallery/peopleoffice.jpg);
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--title-text-color);
  text-align: center;
  padding-bottom: 188px;
  padding-top: 188px;
}

.baner-titel {
  color: var(--body-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;

  max-width: 496px;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}

.button-baner {
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0;
  transition: var(--time-transform);
}
.button-baner:hover,
.button-baner:focus {
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/**-------------madal------------**/
.madal {
  width: 408px;
  height: 584px;
  background-color: var(--body-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}
.close {
  position: absolute;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--footer-text-color);
  fill: #000;
  transition: var(--time-transform);
}
.close:is(:hover, :focus) {
  background-color: var(--color-ocean);
  fill: var(--body-color);
}
.close-item {
  position: absolute;
  width: 8px;
  height: 8px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-headline {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 48px;
}

.label-text {
  font-weight: 400;
  font-size: 12px;

  line-height: 14px;
  line-height: 1.17;
  margin-bottom: 4px;

  letter-spacing: 0.04em;
  color: var(--border-color);
}
.laib-set {
  margin-bottom: 8px;
}
.warap-imput {
  position: relative;
  margin-top: 4px;
}
.madal-imput {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.madal-imput:focus {
  border-color: var(--logo-text-color);
  outline: none;
}
.madal-imput:focus + .madal-svg {
  fill: var(--logo-text-color);
}
.madal-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  width: 18px;
  height: 24px;
  fill: var(--title-text-color);
}

.modal-coments-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-color);
  resize: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;

  letter-spacing: 0.04em;
}
.modal-coments-text:focus {
  border-color: var(--logo-text-color);
  outline: none;
}

.privacy-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  gap: 8px;
}

.privacy-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--border-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--time-transform);
}

.checbox-stale:checked + .privacy-text span {
  background-color: var(--logo-text-color);
  border: none;
  fill: var(--accent-color);
}

.privacy-titel {
  margin-top: 16px;
  margin-bottom: 24px;
}

.button-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;

  margin: 0 auto;

  border: none;
  border-radius: 4px;
  gap: 10px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

  transition: var(--time-transform);
  color: var(--body-color);
  background-color: var(--logo-text-color);
}
.button-form:is(:hover, :focus) {
  background-color: var(--color-ocean);
}
.form-seting {
  display: inline-block;
  text-align: start;
  width: 100%;
}
/*------------------------ Benefits -----------------*/
.benefits {
  padding-bottom: 120px;
  padding-top: 120px;
}
.flex-ben {
  display: flex;

  gap: 24px;
}

.benefits-item {
  max-width: 264px;
}

.benefits-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;

  background-color: var(--accent-color);
}

.svg-item {
  width: 64px;
  height: 64px;
}
.benefits-list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}

.benefits-text {
  color: var(--praimary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  margin: 0;
}
/*--------------------------- Reasons --------------------*/
.reasons {
  padding-bottom: 120px;
}
.reasons-flex {
  display: flex;
  gap: 24px;
}
.reasons-item {
  flex-basis: calc((100% - 24px) / 3);
}
.reasons-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/*------------------------------ Team ---------------------*/
.team {
  background-color: var(--accent-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-section {
  width: 264px;
  height: 428px;
  background-color: var(--body-color);

  border-radius: 4px;

  flex-basis: calc((100% - 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-flex {
  display: flex;
  gap: 24px;
  text-align: center;
}
.team-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.team-item {
  padding: 32px 16px;
}
.team-hero {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.hero-text {
  color: var(--praimary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 8px;
}

.contacts {
  display: flex;

  width: 232px;
  height: 40px;
  gap: 24px;
}
.contacs-list {
}
.contacs-stail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-text-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: var(--time-transform);
}
.contacs-stail:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

.contacts-item {
  width: 16px;
  height: 16px;
}
/*--------------------------Customers-----------------------*/
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-titel {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  width: 1128px;
  height: 88px;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-stail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 2px solid var(--border-color);

  fill: var(--border-color);

  border-radius: 4px;
  transition: var(--time-transform);
}
.customers-item :is(:hover, :focus) {
  border-color: var(--color-ocean);

  fill: var(--color-ocean);
}

.customers-svg {
  width: 104px;
  height: 56px;
}

/* ---------------------------Footer------------------------ */
.footer {
  background-color: var(--color-grey);

  font-family: Raleway, sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-section {
  display: flex;
  margin-left: auto;
}
.logo-footer {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.footer-titel {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.footer-text {
  font-family: Roboto, sans-serif;
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
}
.media {
  margin-left: 120px;
  margin-right: auto;
}
.media-titel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;

  letter-spacing: 0.02em;
  color: var(--body-color);
  margin-bottom: 16px;
}
.contacts-footer {
  display: flex;

  gap: 16px;
}
.contacs-footer-list {
}
.contacs-footer-stail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--praimary-text-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: var(--time-transform);
}
.contacs-footer-stail:is(:hover, :focus) {
  background-color: var(--color-green);
}

.contacts-footer-item {
  width: 24px;
  height: 24px;
}
.footer-form {
  width: 453px;
  height: 40px;
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.divi {
  display: flex;
  bottom: 0;
}

.footer-mail-user {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;

  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

.buttop-mail {
  padding: 8px 24px;
  display: flex;
  margin-left: 24px;
  max-height: 40px;

  justify-content: center;
  align-items: center;
  gap: 16px;

  border: none;
  border-radius: 4px;
  color: var(--body-color);
  background-color: var(--logo-text-color);
  transition: var(--time-transform);
}

.buttop-mail:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

.footer-mail-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: var(--body-color);
}

.svg-foot {
  width: 24px;
  height: 24px;
}

/*!-------------------Portfolio--------------------*/
/*!------------------HEDER port--------------------*/
.port-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.port-heder {
  border: 1px solid #e7e9fc;
}
.port-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.port-filter {
  margin-bottom: 71px;
}

.projects-list {
  border: 1px solid #e7e9fc;

  width: 360px;
  transition: var(--time-transform);
}
.projects-list:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-list {
  display: block;
}
.projects-box {
  padding: 32px;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-button {
  background-color: var(--footer-text-color);
  color: var(--logo-text-color);
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  transition: var(--time-transform);
}
.portfolio-button:is(:hover, :focus) {
  background-color: var(--color-ocean);
  color: var(--body-color);
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.projects-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--praimary-text-color);
}
.projects-overlay-item {
}
.overlay {
  position: relative;

  width: 360px;
  height: 300px;
  overflow: hidden;
}
.overlay-element {
  position: absolute;
  background-color: var(--color-ocean);
  margin: 0;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 1.5;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 164px;
  color: var(--accent-color);

  transform: translateY(100%);
  transition: transform var(--time-transform);
}

.overlay-focus:focus .overlay-element {
  transform: translateY(0);
}
.projects-list:hover .overlay-element {
  transform: translateY(0);
}
/*------------------------- Batton -------------------*/

.button {
  color: var(--body-color);
  background-color: var(--logo-text-color);
  border: 0px;
}

/*-------------------- Component --------------------*/

.section-title {
  color: var(--title-text-color);
}

.praimary-text {
  color: var(--praimary-text-color);
}
.pointer {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
